[Unit]
Requires=temporal-postgresql.service temporal-elasticsearch.service
Wants=temporal-ui.service temporal-admin-tools.service
After=temporal-postgresql.service temporal-elasticsearch.service

[Container]
ContainerName=temporal
EnvironmentFile=/etc/containers/systemd/users/1001/temporal.env
Image=temporalio/auto-setup:1.28.1
Label=kompose.volume.type=configMap
Network=temporal
PublishPort=7233:7233
Volume=temporal-dynamicconfig:/etc/temporal/config/dynamicconfig:z

[Service]
Restart=on-failure
TimeoutStartSec=300
