[Install]
WantedBy=default.target

[Service]
Restart=on-failure
TimeoutStartSec=300

[Container]
ContainerName=postiz-https-proxy
EnvironmentFile=/etc/containers/systemd/users/%U/postiz-https-proxy.env
Image=postiz-https-proxy.build
Network=postiz
PublishPort=8443:443
Volume=%h/.local/share/letsencrypt:/etc/letsencrypt:ro,z
